
button {
    background-color: #bb86fc;
    color: #282828;
    padding: 20px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

#theme-toggle {
    position: absolute;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}
