
button {
    background-color: #399247;
    border: #30773b;
    color: #282828;
    padding: 20px 20px;
    font-family: 'Gruppo', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rankings button {
    background: transparent;
    color: #399247;
    font-family: 'Gruppo', sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 20px;
    align-items: center;
    border: none;
    padding: 0;
    cursor: pointer;
}

#theme-toggle {
    position: absolute;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}
