
#predictForUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#predictForUser input {
    text-align: center;
    width: 240px;
    height: 30px;
    background-color: #282828;
    color: #399247;
    font-family: 'Gruppo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#userInput::placeholder {
    text-align: center;
    color: #6dd58c;
    transition: opacity 0.2 ease;
}

#userInput:focus::placeholder {
    opacity: 0;
}


#userInput:placeholder-shown {
    text-align: center;
    background-color: #282828;
    color: #6dd58c;
    font-family: 'Gruppo', sans-serif;
}

#userInput:focus {
    border-color: #6dd58c;      /* green border on focus */
    box-shadow: #30773b; /* optional soft glow */
}

#introduction, #predictForUser {
    max-width: 600px;
    text-align: center;
}