
#predictForUser input {
    text-align: center;
    width: 120px;
    background-color: #282828;
    color: #bb86fc;
}

::placeholder {
    text-align: center;
    color: #9881b3;
}

input:placeholder-shown {
    text-align: center;
    color: #9881b3;
}

#introduction, #predictForUser {
    max-width: 600px;
    text-align: center;
  }