
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header h1 {
    font-family: 'Racing Sans One', sans-serif; 
    font-size:  42px;
    font-weight: 400;
    font-style: normal;
    color: #7f3bd3;
    text-align: center;
}