
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

header h1 {
    font-family: 'Racing Sans One', sans-serif; 
    font-size:  42px;
    font-weight: 400;
    font-style: normal;
    color: #7f3bd3;
    text-align: center;
}

.rankings {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    margin-top: 5px;
}