
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
header h1 {
    font-family: 'Racing Sans One', sans-serif; 
    font-size:  42px;
    font-weight: 400;
    font-style: normal;
    color: #30773b;
    text-align: center;
}

.rankings {
    all: unset;
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    margin-top: 5px;
}