
p {
    font-family: 'Gruppo', sans-serif; 
    font-size: 22px;
    font-weight: 400; 
    font-style: bold; 
    color: #399247;
}

body {
    background-color: #141414;
    display: flex;
    flex-direction: column; /* stack items vertically */
    height: 100vh;           /* take up full viewport height */
    align-items: center;   
    padding-top: 0;
    padding-bottom: 0;
}

body.light-mode {
    background-color: #d5ffe1; 
    color: #141414;
}

main {
    margin-top: 10px; /* adjust this to match your header height */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* space between the divs */
}

h2 {
    font-family: 'Racing Sans One', sans-serif; 
    font-size:  32px;
    font-weight: 300;
    font-style: normal;
    color: #30773b;
    text-align: center;
}