
.rankingsTable thead {
    font-size: 22px; 
    margin: 0;
    color: #399247;
    font-family: 'Racing Sans One', sans-serif;
}

.rankingsTable {
    border-collapse: collapse;
    font-weight: normal;
    color: #5fc26e;
}

.rankingsTable thead {
    font-size: 22px;
    margin: 0;
    color: #399247;
    font-family: 'Racing Sans One', sans-serif;
}

.rankingsTable th,
.rankingsTable td {
    text-align: left;
    padding: 0.5rem 1.5rem;
}

.rankingsTable tbody {
    font-family: 'Gruppo', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #5fc26e;
}

.rankingsTable .players_list {
    font-weight: bold;
    color: #399247;
}

.rankingsTable .mean_pts {
    font-size: 22px;
    font-style: italic;
    color: #399247;
}