
h1 {
    font-family: 'Racing Sans One', sans-serif; 
    font-size:  42px;
    font-weight: 400;
    font-style: normal;
    color: #7f3bd3;
}

p {
    font-family: 'Gruppo', sans-serif; 
    font-size: 22px;
    font-weight: 400; 
    font-style: bold; 
    color: #bb86fc;
}

header {
    margin-top: 0;
    padding-top: 0;
}

body {
    background-color: #141414;

    display: flex;
    flex-direction: column; /* stack items vertically */
    justify-content: center; /* vertical center */
    align-items: center;     /* horizontal center */
    height: 100vh;           /* take up full viewport height */
    margin: 0;
    text-align: center;      /* center text inside elements */
}

body.light-mode {
    background-color: #3c3c50; 
    color: #141414;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }