
button {
    background-color: #bb86fc;
    color: #282828;
    padding: 20px 20px;
    font-size: 16px;
    margin-top: 20px;
}

.toggle-button {
    position: fixed; 
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: inherit;
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
}
